@media screen and (max-width:1299px) {}

@media screen and (max-width:1023px) {}

@media screen and (max-width:991px) {
    .profile-img {
        position: static;
    }

    .text-wrapper {
        height: 138px;
        overflow: hidden;
    }

    .hero-cnt {
        position: relative;
        left: 60px;
    }
    .skill-line {
    width: max-content;
    }
    .abt-cnt {
    width: 100%;
    top: 12%;
    }
    .abt-img {
        scale: 1.3;
    }
    .logo-img{
        scale: 0.9;
    }
    .figma {
    right: 632px;
    }
    .js {
    top: 355px;
    right: 258px;
    }
    .photoshop {
    top: 200px;
    right: 230px;
    }
    .css {
    top: 15px;
    right: 200px;
    }
    .bootstrap {
    right: -55px;
    }
    .html{
        top: 0px;
    }
    #edu img {
    width: 100%;
    }
}

@media screen and (max-width:767px) {
    header nav {
        display: flex;
        height: 100vh;
        position: fixed;
        top: 0;
        left: 0;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        transition: 0.3s ease;
        opacity: 0;
        width: 100%;
        z-index: 100;

    }

    .menu-bt {
        display: flex;
        z-index: 110;
    }

    header nav.toggled {
        opacity: 1;
        background: linear-gradient(45deg, #000000, #d7b5ff);
        z-index: 100;
        height: 100%;
        gap: 35px;
        border-radius: 0;
    }

    .theme-btn {
        opacity: 0;
    }

}

@media screen and (max-width:575px) {}

@media screen and (max-width:425px) {}

@media screen and (max-width:375px) {}