p{
    margin: 0;
}
a{
    text-decoration: none;
    color: black;
}
body {
    background-color: #FFFFEF;
    font-family: "Poppins", sans-serif;
}

header {
    display: flex;
    justify-content: center;
    align-items: center;
}

header nav a {
    text-decoration: none;
    color: black;
    font-size: 20px;
}

nav {
    gap: 70px;
    display: flex;
    padding: 6px 21px;
    background-color: #F5F5F0;
    width: fit-content;
    border-radius: 10px;
    justify-self: center;
}
header .theme-btn {
    padding: 3px 4px;
    display: flex;
    background-color: #F3F3F5;
    position: relative;
    border-radius: 87px;
    gap: 8px;
    box-shadow: inset 1px 2px 1px -1px rgba(107, 107, 107, 0.767);
    left: 21%;
}
header .theme-btn .round {
    width: 18px;
    height: 18px;
    background: rgb(255, 255, 255);
    border-radius: 100%;
    filter: drop-shadow(2px 2px 1px #6363635b);
}
#hero{
    background: url(../img/icon/Wave-hero.png);
}
.profile-img {
    position: relative;
    left: 90px;
}
.img-bg {
    background: linear-gradient(242deg, #969DC9, #E4E4E4);
    width: 397px;
    height: 406px;
    position: absolute;
    border-radius: 3px 0px 200px 200px;
    bottom: -7px;
    left: -8px;
    z-index: -1;
    filter: drop-shadow(-7px 6px 7px #7242a84c);
}
.hero-cnt .intro p {
    font-family: "Poppins", sans-serif;
    font-style: italic;
    font-size: 18px;
}
.resume p{
    width: fit-content;
    padding: 5px 12px;
    border-radius: 80px;
    color: white;
    background: linear-gradient(45deg, #C994FF, #C6B3FF);
}
.hire p{
    width: fit-content;
    padding: 5px 12px;
    border-radius: 80px;
    color: transparent;
    background: linear-gradient(45deg, #C994FF, #C6B3FF);
    background-clip: text;
    border: 1px solid #C994FF;
    
}
.hero-cnt {
    display: flex;
    height: 100%;
    flex-direction: column;
    justify-content: center;
}
.hero{
    margin-top: 70px;
    position: relative;
}
  /* hero-animation */
.text-wrapper{
    position: relative;
    width: 100%;
    height: 100%;
}
.text-wrapper{
    display: flex;
    justify-content: flex-start;
    height: 120px;
    overflow: hidden;
}
.text{
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    font-size: 60px;
    background: linear-gradient(147deg, #87CFB7, #874BB5);
    color: transparent;
    background-clip: text;
    position: absolute;
    opacity: 0;
    transform: translateY(100%);
    animation: flip-text 6s infinite;
}
.text:nth-child(1){
    animation-delay: 0s;
}
.text:nth-child(2){
    animation-delay: 3s;
}
@keyframes flip-text {
    0%{
        opacity: 0;
        transform: translateY(100%);
    }
    10%{
        opacity: 1;
        transform: translateY(0);
    }
    40%{
        opacity: 1;
        transform: translateY(0);
    }
    50%{
        opacity: 0;
        transform: translateY(-100%);
    }
    100%{
        opacity: 0;
        transform: translateY(-100%);
    }
}

.buttons {
    display: flex;
    align-items: center;
    gap: 20px;
}
.skill-line {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    background-color: #f5f7ff;
    width: -webkit-fill-available;
    margin-top: 60px;
}
.skill-line img{
    width: 2%;
}
.about{
    position: relative;
}
.abt-img img{
    width: 100%;
}
.abt-cnt {
    position: absolute;
    top: 36%;
    width: 74%;
    justify-self: center;
    background-color: #ffffff0f;
    border-radius: 15px;
    padding: 10px 20px;
    box-shadow: inset 1px 2px 1px -1px rgb(224 223 223 / 70%), 3px 3px 10px 0px rgb(0, 0, 0, 10%);
    color: #FFFFEF;
    backdrop-filter: blur(2px);
    z-index: 100;
}
.abt-cnt h2{
    font-size: 54px;
}
.abt-cnt p {
    font-size: 25px;
    font-style: italic;
}
.about .logo-img{
    position: absolute;
}
.figma {
    top: 200px;
    right: 599px;
    rotate: -37deg;
    scale: 0.9;
}
.css {
    top: 122px;
    right: 401px;
    rotate: 43deg;
    scale: 0.8;
}
.bootstrap {
    top: 200px;
    right: 100px;
    rotate: 12deg;
    scale: 1.1;
}
.html {
    top: 128px;
    left: 95px;
    rotate: -41deg;
    scale: 1.1;
}
.js {
    top: 417px;
    right: 662px;
    rotate: -60deg;
}
.photoshop {
    top: 373px;
    right: 430px;
    rotate: 30deg;
}
.tools{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}
.tools img{
    scale: 0.4;
}
.edu {
    display: flex;
    flex-direction: column;
    align-items: center;
}
#edu img{
    width: 90%;
}
.Skill-grid {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: repeat(6, 1fr);
    gap: 8px;
    height: 80vh;
    margin: 30px 0px;
    color: white;
}
.Skill img{
    height: fit-content;
}         
.responsive {
    grid-column: span 3 / span 3;
    grid-row: span 6 / span 6;
    background: #0000007e;
    border-radius: 15px;
}
.prototyp {
    grid-column: span 5 / span 5;
    grid-row: span 3 / span 3;
    grid-column-start: 4;
    background: #0000007e;
    border-radius: 15px;
}
.dsgn-thnk {
    grid-column: span 4 / span 4;
    grid-row: span 3 / span 3;
    grid-column-start: 9;
    background: #0000007e;
    border-radius: 15px;
}
.ux-research {
    grid-column: span 4 / span 4;
    grid-row: span 3 / span 3;
    grid-column-start: 4;
    grid-row-start: 4;
    background: #0000007e;
    border-radius: 15px;
}
.coding {
    grid-column: span 5 / span 5;
    grid-row: span 3 / span 3;
    grid-column-start: 8;
    grid-row-start: 4;
    background: #0000007e;
    border-radius: 15px;
}
.Skill h2, .edu h2{
    font-size: 44px;
    font-weight: 500;
    text-align: center;
    color: #C994FF;
    margin: 30px 0px;
}
.Skill h3 , .Skill p{
    width: fit-content;
    font-family: "Poppins", sans-serif;
}
.Skill h3{
    font-size: 22px;
    font-weight: 500;
}
.Skill p{
    font-size: 13px;
    font-style: italic;
}
.responsive, .prototyp, .dsgn-thnk, .ux-research, .coding{
    position: relative;
}
.responsive-cnt, .prototyp-cnt, .dsgn-thnk-cnt, .ux-research-cnt, .coding-cnt{
    padding: 7px;
    margin-left: 5px;
}
.responsive-icon {
    margin-top: 20px;
    align-items: center;
    gap: 7px;
    margin-left: 10px;
}
.prototyp-icon, .dsgn-thnk-icon, .ux-research-icon, .coding-icon{
    margin-top: 20px;
    align-items: center;
    gap: 10px;
    margin-left: 15px;
}
.responsive-bg {
    position: absolute;
    bottom: 0;
}
.responsive-bg img{
    width: 100%;
    border-radius: 15px;
}
.projects {
    max-width: 900px;
    margin: auto;
}
.projects h2 {
    font-size: 44px;
    font-weight: 500;
    text-align: center;
    color: #C994FF;
    margin: 20px 0px;
}
.project-card {
    background: linear-gradient(180deg, #272727, #CECECE);
    height: 43vh;
    border-radius: 10px;
    width: 100%;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    overflow: hidden;
    transition: 2s ease-in-out;
}
.project-card:hover{
    background: linear-gradient(360deg, #4d24757d, #9747FF);
}
.project-card .project-cnt {
    text-align: center;
    color: white;
    display: flex;
    justify-content: center;
    gap: 115px;
    width: -webkit-fill-available;
    margin: 5px 0px;
    transition: 2s ease-in-out;
    opacity: 0;
}
.project-card:hover .project-cnt{
    opacity: 1;
}
.project-cnt a{
    color: white;
    background: transparent;
    border: 1.5px solid rgb(255 255 255 / 33%);
    padding: 3px 15px;
    border-radius: 15px;
    transform: translatex(90px);
    transition: 2s ease-in-out;
}
.project-card:hover .project-cnt a{
    transform: translatex(0px);

}
.scroll-bt {
    width: 26px;
    height: 40px;
    background: #585858;
    position: fixed;
    right: 3px;
    bottom: 3px;
    border-radius: 4px;
}
.project-cnt h4{
    margin: 0;
    transform: translatex(-100px);
    transition: 2s ease-in-out;
}
.project-card:hover .project-cnt h4{
    transform: translatex(0px);

}
.project-card .project-img{
    width: 90%;
    background: #bebebe75;
    height: 65%;
    border-radius: 10px;
    margin-top: 14px;
    transition: 2s ease-in-out;
}
.project-img img{
    width: 100%;
}
.project-card:hover .project-img{
    height: 75%;
}
.connect {
    text-align: center;
    margin: 50px 0px;
    background: black;
    color: white;
    display: flex;
    flex-direction: column;
    gap: 40px;
    padding: 50px;
    border-radius: 15px;
    justify-self: center;
    width: 70vw;
    align-items: center;
}
.connect-logo {
    display: flex;
    justify-content: space-evenly;
    padding: 30px 0px;
    background: hsla(0, 0%, 100%, 0.142);
    border-radius: 8px;

}
.connect-logo div{
    width: fit-content;
}
.connect-logo {
    display: flex;
    padding: 20px 30px;
    background: hsla(0, 0%, 100%, 0.142);
    border-radius: 8px;
    width: 25vw;
    justify-content: space-between;
}
.connect-logo i{
    scale: 1.3;
}
.call-mail {
    flex-direction: column;
    gap: 30px;
}
.connect p{
    color: white;
}
.call-mail div {
    padding: 10px 20px;
    background: #222222a6;
    border-radius: 8px;
    border: 1px solid #70707063;
}
#edu{
    margin-top: 30px;
}
section{
    margin: 50px 0;
}

