p{
    margin: 0;
}
a{
    text-decoration: none;
    color: black;
}
body {
    background-color: #FFFFEF;
    font-family: "Poppins", sans-serif;
}

header {
    display: flex;
    justify-content: center;
    align-items: center;
}

header nav a {
    text-decoration: none;
    color: black;
    font-size: 20px;
}

nav {
    gap: 70px;
    display: flex;
    padding: 6px 21px;
    background-color: #F5F5F0;
    width: fit-content;
    border-radius: 10px;
    justify-self: center;
}
header .theme-btn {
    padding: 3px 4px;
    display: flex;
    background-color: #F3F3F5;
    position: relative;
    border-radius: 87px;
    gap: 8px;
    box-shadow: inset 1px 2px 1px -1px rgba(107, 107, 107, 0.767);
    left: 21%;
}
header .theme-btn .round {
    width: 18px;
    height: 18px;
    background: rgb(255, 255, 255);
    border-radius: 100%;
    filter: drop-shadow(2px 2px 1px #6363635b);
}

.profile-img {
    position: relative;
    left: 90px;
}
.img-bg {
    background: linear-gradient(242deg, #969DC9, #E4E4E4);
    width: 397px;
    height: 406px;
    position: absolute;
    border-radius: 3px 0px 200px 200px;
    bottom: -7px;
    left: -8px;
    z-index: -1;
    filter: drop-shadow(-7px 6px 7px #7242a84c);
}
.hero-cnt .intro p {
    font-family: "Poppins", sans-serif;
    font-style: italic;
    font-size: 18px;
}
.resume p{
    width: fit-content;
    padding: 5px 12px;
    border-radius: 80px;
    color: white;
    background: linear-gradient(45deg, #C994FF, #C6B3FF);
}
.hire p{
    width: fit-content;
    padding: 5px 12px;
    border-radius: 80px;
    color: transparent;
    background: linear-gradient(45deg, #C994FF, #C6B3FF);
    background-clip: text;
    border: 1px solid #C994FF;
    
}
.hero-cnt div h1 {
    background: linear-gradient(147deg, #87CFB7, #874BB5);
    color: transparent;
    background-clip: text;
    font-size: 45px;
}
.hero-cnt {
    display: flex;
    height: 100%;
    flex-direction: column;
    justify-content: center;
}
.hero{
    margin-top: 70px;
    position: relative;
}

.buttons {
    display: flex;
    align-items: center;
    gap: 20px;
}
.skill-line {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    background-color: #f5f7ff;
    width: -webkit-fill-available;
    margin-top: 60px;
}
.skill-line img{
    width: 2%;
}
.about{
    position: relative;
}
.abt-img img{
    width: 100%;
}
.abt-cnt {
    position: absolute;
    top: 36%;
    width: 74%;
    justify-self: center;
    background-color: #ffffff0f;
    border-radius: 15px;
    padding: 10px 20px;
    box-shadow: inset 1px 2px 1px -1px rgb(224 223 223 / 70%), 3px 3px 10px 0px rgb(0, 0, 0, 10%);
    color: #FFFFEF;
    backdrop-filter: blur(2px);
    z-index: 100;
}
.abt-cnt h2{
    font-size: 54px;
}
.abt-cnt p {
    font-size: 25px;
    font-style: italic;
}
.about .logo-img{
    position: absolute;
}
.figma {
    top: 200px;
    right: 599px;
    rotate: -37deg;
    scale: 0.9;
}
.css {
    top: 122px;
    right: 401px;
    rotate: 43deg;
    scale: 0.8;
}
.bootstrap {
    top: 200px;
    right: 100px;
    rotate: 12deg;
    scale: 1.1;
}
.html {
    top: 128px;
    left: 95px;
    rotate: -41deg;
    scale: 1.1;
}
.js {
    top: 417px;
    right: 662px;
    rotate: -60deg;
}
.photoshop {
    top: 373px;
    right: 430px;
    rotate: 30deg;
}
.tools{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}
.tools img{
    scale: 0.4;
}
.service .rsp-dsg{
    width: 100%;
}