p {
    margin: 0;
}

a {
    color: #1f1f1f;
    text-decoration: none;
}
*::selection{
    color: white;
    background: #1f1f1f;
}

ul {
    margin: 0;
}

ul li {
    list-style: none;
}

body {
    font-family: 'Poppins', sans-serif !important; 
    background-color: #FAFAFA;
}
::-webkit-scrollbar{
    display: none;
}
section {
    margin: 50px 0px;
}

/* loading */
#page-loader {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
    background: #1f1f1f;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: 9999;
  color: #ffffff;
  text-align: center;
}
#page-loader h1{
    font-size: xx-large;
    font-weight: 600;
    margin-top: 30px;
}

/* Bouncing dots */
.dots-loader {
  display: flex;
  gap: 8px;
}

.dots-loader span {
  width: 12px;
  height: 12px;
  background-color: #ffffff;
  border-radius: 50%;
  animation: bounce 0.6s ease-in-out infinite;
}

.dots-loader span:nth-child(2) {
  animation-delay: 0.1s;
}
.dots-loader span:nth-child(3) {
  animation-delay: 0.2s;
}

/* Bounce animation */
@keyframes bounce {
  0%, 100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-10px);
  }
}

/* header */
header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 25px auto;
}
nav ul li a {
    color: #1f1f1f;
    font-family: 'Poppins', sans-serif;
    font-size: 20px;
    font-weight: 300;
}
nav ul li .home{
    color: #A50000;
    font-weight: 400;
}
#hero{
    margin: 0;
}
.hero{
    position: relative;
}
.video-background {
    width: 100%;
    height: 90vh;
    overflow: hidden;
    border-radius: 8px;
}
.video-background video {
    min-width: 100%;
    min-height: 100%;
    object-fit: cover;
}
.video-content {
    position: absolute;
    color: white;
    left: 40px;
    top: 35%;
    display: flex;
    flex-direction: column;
    gap: 5px;
}
.video-content h1 {
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    font-size: 60px;
    margin: 0;
}
.explore-btn {
    display: flex;
    gap: 10px;
    padding: 12px 15px;
    background: #ffffff;
    width: fit-content;
    border-radius: 40px;
    font-weight: 600;
    color: #1f1f1f;
}
.meta {
    height: 70vh;
    display: flex;
    flex-direction: column;
    justify-content: end;
    position: relative;
    padding-left: 20px;
    background: #F4F3EE;
    border-radius: 10px;
    transition: all 1s ease-out;
}
.shop-cta {
    display: flex;
    color: white;
    background: #1f1f1f;
    width: max-content;
    padding: 10px 20px;
    border-radius: 5px;
    gap: 10px;
}
.meta .rayban {
    position: absolute;
    top: 0;
    transition: all 2s ease;
}
.meta-content h3 {
    font-size: x-large;
    font-weight: 300;
    margin: 0;
}
.sports, .urban{
    height: 33vh;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-left: 20px;
    background: #F4F3EE;
    border-radius: 10px;
}
.brand-names {
    display: flex;
    align-items: center;
    justify-content: center;
    width: fit-content;
    margin: 0 auto;
    background: #1f1f1f;
    border-radius: 15px;
    overflow: hidden;
}
.brand-logo .brand-bg{
    height: 100%;
}
.brand-logo img, .brand-bg img{
    height: 80vh;
}
.brand {
  position: relative;
}
.brand-bg {
  position: absolute;
  top: 0;
  z-index: 0;
  opacity: 0;
  transition: opacity 1.5s ease;
}
.brand:hover .brand-bg {
  opacity: 1;
  z-index: 1;
}
.tp-cnt {
    text-align: center;
}
.tp-cnt h2{
    margin: 0;
}
.tp-cnt p{
    font-weight: 200;
}
.clrs div {
    width: 20px;
    height: 20px;
    background: #D90A9C;
    border-radius: 30px;
}
.clrs .blue{
    background: #5CB5FF;
}
.clrs {
    display: flex;
    gap: 5px;
}
.product-img {
    background: #F4F3EE;
    border-radius: 15px;
    padding: 10px;
    margin-bottom: 10px;
}
.product-img p {
    background: #F03E3E;
    color: white;
    width: fit-content;
    padding: 2px 8px;
    border-radius: 100px;
    font-size: 12px;
    font-weight: 500;
}
.product-cnt h4{
    margin: 0;
}
.product-cnt {
    display: flex;
    flex-direction: column;
    gap: 3px;
}
#features{
    margin: 30px 0px;
}
.features {
    display: flex;
    justify-content: space-around;
}
.feature {
    display: flex;
    align-items: center;
    gap: 8px;
}
.feature-logo {
    padding: 5px;
    border-radius: 100px;
    border: 1px solid #a7a7a7;
}
.feature-cnt h4 {
    margin: 0;
    font-size: 20px;
    font-weight: 400;
}
.feature-cnt p {
    font-size: 12px;
    font-weight: 200;
    width: 70%;
}
.customer {
    text-align: center;
    display: flex;
    flex-direction: column;
    gap: 30px;
}
.feedback h3 {
    font-style: italic;
    font-weight: 400;
}
.top-cnt h2 {
    margin: 0;
}
.profile {
    display: flex;
    align-items: center;
    gap: 10px;
    width: fit-content;
    margin: 0 auto;
    justify-content: center;
    margin-top: 30px;
    border: 1px solid black;
    border-radius: 12px;
    padding: 7px 14px;
}
.profile-img {
    width: 50px;
    border-radius: 100px;
    overflow: hidden;
    height: 50px;
}
.profile-cnt {
    text-align: start;
}
footer {
    background: #1f1f1f;
    padding: 50px 0px;
    display: flex;
    flex-direction: column;
    text-align: center;
    gap: 15px;
    padding-bottom: 20px;
}
.loc-details {
    display: flex;
    justify-content: center;
    color: white;
    align-items: center;
    gap: 10px;
    font-size: smaller;
    font-weight: 300;
}
.loc-details a {
    color: white;
    display: flex;
    align-items: center;
    gap: 8px;
}
.line {
    font-size: 30px;
    font-weight: 100;
}
nav.nav-bottom a {
    color: white;
}
.nav-bottom ul li .home {
    color: #ffffff;
}
.nav-bottom {
    display: flex;
    list-style: none;
    justify-content: center;
    width: 100%;
    gap: 12vw;
}
.social-media {
    display: flex;
    width: -webkit-fill-available;
    align-items: center;
}
.social-media ul {
    display: flex;
    gap: 5px;
    padding: 0 5px;
}
.ruler {
    width: -webkit-fill-available;
    background: white;
    height: 1.5px;
}
.top-cnt p {
    font-weight: 200;
    font-size: smaller;
}
.copy-right {
    display: flex;
    color: white;
    font-size: x-small;
    font-weight: 200;
    gap: 23px;
}
.meta:hover{
    background: url(../Assets/img/meta-bg.png);
}
.meta:hover .rayban{
    opacity: 0;
}